<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <h1>로그인</h1>
    <form action="" method="POST">{% csrf_token %}
        <input id="id" name="user_id" type="text" placeholder="아이디 입력"/>
        <input id="pwd" name="user_password" type="text" placeholder="비밀번호 입력"/>
        <button type="button" id="checkLogin">로그인</button>

        <input type='radio' name="categoru" value=0 checked/>학부생
    {#    <input type='radio' name='' value=1 />신입생#}
    </form>
    <A href="/login/new"> 회원가입 </A>
    <script>
        document.getElementById("checkLogin").addEventListener('click',function(){
            const userId = document.getElementById("id").value;
            const userpwd = document.getElementById("pwd").value;
            // const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            fetch("/login/check_login/",{
                method: 'POST',
                headers:{
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                // URLSearchParams은 HTML 폼에서 전송하는 폼 데이터 형식 (application/x-www-form-urlencoded) 으로 바꿔주는 객체
                body: new URLSearchParams({
                    'user_id': userId,
                    'user_password': userpwd,

                })
            })
                .then(response => response.json())
                .then(data=>{
                    if (data.message === '로그인 성공!') {
                        window.location.href = "/board/";
                    }
                    else{
                        alert(data.message)
                    }
                })

        })
    </script>
</body>
</html>